img {
	max-width: 100%;
}

html,
body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape,
.link-rodape:hover {
	color: white;
	text-decoration: none;
}

.wallpaper {
	background: url(/public/img/03.jpg);
	min-height: 70vh;
	box-sizing: border-box;
	max-width: 100%;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: left;
	box-shadow: 10px 5px 5px grey;


}


.wallpaperTexto {
	padding: 4rem;

	color: whitesmoke;


}

.wallpaperTexto h1 {
	margin-bottom: 1px;
	font-size: 60px;
}

.wallpaperTexto p {
	text-align: center;
}

.navbar {
	box-shadow: 5px 5px 5px grey;
	max-width: 100%;
}