<div class="container-fluid">

	<div class="wallpaper">
		<div class="wallpaperTexto">
			<h1>Energy Within</h1>
			<p>por um mundo mais sustentável</p>
		</div>
	</div>

	<h1 class="my-5">
		Relatório Mensal
	</h1>
	

	<div class="card shadow mb-4">
		<div class="card-body" id="div-grafico">
		</div>
	</div>

</div>

<script src="/public/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/js/jquery-validate/additional-methods.min.js"></script>
<script src="/public/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/public/js/chart.js/chart.min.js"></script>

<script type="text/javascript">
	"use strict";



	let div = document.getElementById("div-grafico");
	div.innerHTML = '<canvas id="grafico-barras" style="height: 50vh;"></canvas>'
	let labels = [], data = [];
    let dados = <%= JSON.stringify(consumos) %>;
	if (!dados || !dados.length) {
		Swal.fire("Erro", "Sem dados no último mês!", "error");
    }
	
	for (let i = 0; i < dados.length; i++) {
		labels.push(dados[i].nome);
		data.push(dados[i].consumo);
    }

    let datasets;
    labels.forEach(label => {
        datasets.push({
           label: "Consumo Total (kW.h)",
				backgroundColor: "#F31C06",
				hoverBackgroundColor: "#F31C06",
				borderColor: "#F31C06",
				data: data, 
        })
    })
	
	let grafico = new Chart(document.getElementById("grafico-barras"), {
		type: "bar",
		data: {
			labels: labels,
            
			datasets: datasets,
		},
		options: {
			maintainAspectRatio: false,
			layout: {
				padding: {
					left: 10,
					right: 25,
					top: 25,
					bottom: 0
				}
			},
			scales: {
				x: {
					gridLines: {
						display: false,
						drawBorder: false
					},
					ticks: {
						maxTicksLimit: 10
					},
					maxBarThickness: 25,
				},
				y: {
					//display: false,
					ticks: {
						min: 0,
						max: 10,
						maxTicksLimit: 10,
						padding: 10
					},
					gridLines: {
						color: "rgb(234, 236, 244)",
						zeroLineColor: "rgb(234, 236, 244)",
						drawBorder: false,
						borderDash: [2],
						zeroLineBorderDash: [2]
					}
				},
			},
			legend: {
				display: false
			},
			tooltips: {
				titleMarginBottom: 10,
				titleFontColor: '#6e707e',
				titleFontSize: 14,
				backgroundColor: "rgb(255,255,255)",
				bodyFontColor: "#858796",
				borderColor: '#dddfeb',
				borderWidth: 1,
				xPadding: 15,
				yPadding: 15,
				displayColors: false,
				caretPadding: 10
			},
		}
    });
	

	//atualizarDados();

</script>
